@charset 'UTF-8';

:root {
    --roxo: #9B06CE;
}


main {
    display: flex;
    column-gap: 5em;
    padding: 1em 4em;;
    justify-content: center;
    align-items: center;

    user-select: none;
}

p {
    max-width: 18em;
    margin: 0;
}

.container-login {
    display: flex;
    flex-direction: column;
    /* background-color: #2b4b57; */
    padding: 1em;
    border-radius: .5em;
    background-color: #e6e6e6;
    color: #232323;
    height: 25em;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    /* row-gap: 1.5em; */
}

.form > label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}

.span {
    margin-bottom: 1.2em;
}
span {
    display: flex;
    font-size: 0.9em;
    /* column-gap: 2em; */
    justify-content: space-between;
    align-items: center;
}

span > a {
    color: #232323;
}


span > label {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    /* background-color: red; */
}

span > a:hover {
    color: var(--roxo);
}

.form input {
    padding: 0.5em;
    border-radius: .5em;
    border: none;
}


.form > input[type=button] {
    width: 80%;
    align-self: center;
    padding: 1em;
    border-radius: .5em;
    border: none;
    background-color: #9B06CE;
    color: white;

    cursor: pointer;
    transition: all .3s ease-in;
}


.form > input[type=button]:hover {

    background-color: #8708b1;
}

@media screen and (max-width:768px) {
    main {
        flex-direction: column-reverse;
        column-gap: 0;
    }

    .container-login {
        width: 130%;
    }
    
    .form {
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .form input {
        /* width: 150%; */
        width: 130%;
    }

    .form > span {
        justify-content: space-between;
        gap: 1em;
    }

    .container-image {
        width: 100%;
        margin-top: 1em;
    }

    img {
        width: 100%;
    }

}